<mat-toolbar color="primary" class="navbar">
    <!-- <img width="13%" style="cursor: pointer;" src="assets/img/dtsLogo.png" (click)="goToRoute('/')" /> -->
    <ul class="label-lists">
        <li><button style="font-size: 22px;" mat-button  (click)="goToRoute('/')">DTS Solutions</button></li>
        <li *ngFor="let label of _menuService.getLabels()"><button style="font-size: 22px;" mat-button (click)="goToRoute(label['route'])">{{label['name']}}</button></li>
    </ul>
    <div class="hide" style="display: flex; justify-content: flex-end; width: 70%;">
        <a (click)="toggleSidenav()" style="width: 20%; margin-top: 5%;"><mat-icon style="font-size: 52px;">menu</mat-icon></a>
    </div>
</mat-toolbar>