.label-lists {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    height: 100%;
}
.hide {
    display: none !important;
}

.container-image {
    display: flex;
    justify-content: center ;
    width: 13vw; 
    height: 100%;
}

.container-image img {
    width:100%;
}

.container-image :hover {
    cursor: pointer;
}

.navbar {
    width: 100%; 
    height: 90px;
}

.animate {
    animation: fadeIn 1.5s;
}
.hamburger-container{
    display: none;
}

.social-network {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-network ul {
    height: 100%;
}

.social-network li {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-network img {
    max-height: 100%;
    width: 35px;
}

.social-network img:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: ease 0.2s;
}

@media (max-device-width : 812px){ 
    .label-lists {
        display: none;
    }
    .hide {
        width: 90vw !important;
        display: flex !important; 
        height: 100%;
    }
    .hide button {
        width: 30%;
        height: 70%;
    }
    .hide button {
        outline: transparent;
    }
    img {
        width: 30%;
    }
    .navbar { 
        height: 50px !important;
    }

    a {
        margin: 0 !important;
    }
    .container-image {
        display: flex;
        justify-content: center ;
        width: 37vw; 
        height: 100%;
        margin: auto;
        position: absolute;
        left: 33%;
    }
    
    .container-image img {
        width: 100%;
    }
    .hamburger-container{
        display: inline;
    }
    .social-network {
        display: none;
    }
}