.article {
    display: flex;
    align-content: center;
    align-items: center;
}

.article-img {
    width: 50%;
}

.content-right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
}

.logos {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.logos img {
    max-width: 80px;
}

@media (max-width: 812px) {
  
    .article-img {
        width: 100%;
        order: -1;
    }
}