<div class="main" style="background-color: white !important;">
    <div class="rowIzquierda" >
        <div class="custom">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h1>{{soluciones[0].name}}</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="info">
                        <img [src]="soluciones[0].image" alt="ecommerce">
                        <button (click)="verMasHandler(soluciones[0]['name'],soluciones[0]['description'])" mat-raised-button color="accent">Ver mas</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="custom">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h1>{{soluciones[1].name}}</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="info">
                        <img [src]="soluciones[1].image" alt="ecommerce">
                        <button (click)="verMasHandler(soluciones[1]['name'],soluciones[1]['description'])" mat-raised-button color="accent">Ver mas</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="rowDerecha" >
        <div class="custom">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h1>{{soluciones[2].name}}</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="info">
                        <img [src]="soluciones[2].image" alt="ecommerce">
                        <button (click)="verMasHandler(soluciones[2]['name'],soluciones[2]['description'])" mat-raised-button color="accent">Ver mas</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="custom">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><h1>{{soluciones[3].name}}</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="info">
                        <img [src]="soluciones[3].image" alt="ecommerce">
                        <button (click)="verMasHandler(soluciones[3]['name'],soluciones[3]['description'])" mat-raised-button color="accent">Ver mas</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


</div>