.lista-valores {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: column;
    height: 99vh;
}

.contenedor-tarjetas {
    width: 20%;
    animation: fadeIn 1.5s; 
    margin-left: 80px;
}

.contenedor-tarjetas :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.example-card:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.row {
    height: 45%;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.srow {
    height: 20%;
    display: flex;
    padding: 10px;
    width: 100%;
    align-items: center;
    align-content: center;
}
.img {
    height: 25vh;
}
.example-card {
    height: 70%;
}
.buttons {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 100%;
  }
  
.rowButtons {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    animation: fadeIn 1s;
    width: 100%;
}
  
@media (max-device-width : 812px)
 { 
    .img {
        height: 15vh;
    }
    .contenedor-tarjetas {
        width: 45%;
        margin: 5px;
        display: flex;
        justify-content: center;
    }
    .rowButtons {
        height: 10% !important;
      }
}