<div class="lista-valores">
    <h1 style="text-align: center;" class="text-title">Nuestros valores</h1>
    <h2 style="text-align: center; padding: 10px;" class="text-title">El cumplimiento de cada uno de nuestros valores permiten alcanzar la satisfacción total de nuestros clientes</h2>
    <div class="valor" *ngFor="let valor of valores">
      <div class="img">
        <img [src]="valor.img" [alt]="valor.name">
      </div>
      <div class="title">
        <h1>{{valor['name']}}</h1>
      </div>
    </div>
</div>