<div class="content">

    <div class="row" style="height: 10%;">
        <div class="title">
            <h1 class="text-center">¿Quiénes somos?</h1>
        </div>
    </div>
    <div class="row" style="height: 40%">
        <div class="image-content">
            <div class="image-container">
                <img style="margin: 20px;" src="../../../assets/img/somos.jpeg" alt="somos" srcset="">
            </div>
        </div>
    </div>

    <div class="row" style="height: 40%;">
        <div class="info-content" >
            <div class="text" style="padding: 10px;">
               <p style="padding: 3px;">
                   DTS Solutions (Digital transformation Specialist) Somos un grupo de especialistas con más de 10 años de experiencia en el sector tecnológico, apasionados por brindar soluciones enfocadas en utilizar la tecnología como una ventaja competitiva, alineadas a los objetivos de negocios de cada empresa. 
               </p>
               <p>
                   Nuestro propósito principal es ofrecer servicios con lo último en vanguardia tecnológica e innovación, siguiendo siempre los más altos estándares de calidad y garantizando en todo momento la fiabilidad y seguridad de la información. 
               </p>
            </div>
       </div>
    </div>


    <div class="row" style="height: 10%;">
        <div class="buttons" style="padding: 10px;">
            <div class="button-before">
                <button mat-raised-button color="primary" (click)="_homeService.previousPage()" >Portada</button>
            </div>
            <div class="button-next">
                <button mat-raised-button color="primary" (click)="_homeService.nextPage()" >Misión y Visión</button>
            </div>
        </div>
    
    </div>
    

</div>