.content {
  height: 99vh;
}

.content img {
  width: 40%;
  max-height: 100%;
}


@media (max-device-width : 812px)
{ 
  .rowImage {
    height: 30%;
  }
  .rowContent {
    height: 60%;
  }
  .rowImage img {
    width: 80%;
  }
  .rowButtons {
    height: 10% !important;
  }
  .text {
    font-size: 10px;
  }
}
