<div class="content">

    <div class="row justify-content-center align-items-center w-100" style="height: 40%;">
        <img src="../../../assets/img/dtsLogo.png" alt="somos" style="z-index: 10000;">
    </div>

    <div class="row justify-content-center align-items-center w-100 el" style="height: 60%;" >
            <div class="col-12">
                <div style="display: flex; justify-content: center; align-items: center;" class="el text-large">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1 class="text-center">¿Quiénes somos?</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                DTS Solutions (Digital transformation Specialist) Somos un grupo de especialistas con más de 10 años de experiencia en el sector tecnológico, apasionados por brindar soluciones enfocadas en utilizar la tecnología como una ventaja competitiva, alineadas a los objetivos de negocios de cada empresa. 
                            </p>
                            <p>
                                Nuestro propósito principal es ofrecer servicios con lo último en vanguardia tecnológica e innovación, siguiendo siempre los más altos estándares de calidad y garantizando en todo momento la fiabilidad y seguridad de la información. 
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
    </div>

</div>