.content img {
  width: 40%;
  max-height: 100%;
}


@media (max-device-width : 812px)
{ 
  .content img {
    width: 100%;
  }

  .content:before {
    height: 200px;
    transform: scale(1.7);
  }
}
