<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="width: 30%;">
    <img style="width: 100%;" src="assets/img/dtsLogo.png" alt="logo">
    <ul class="label-lists" style="margin-top: 10px; text-align: center;">
      <li *ngFor="let label of _menuService.getLabels()"><button mat-button (click)="goToRoute(label['route'])">{{label['name']}}</button></li>
      <li><button mat-button (click)="goToRoute('/')">Inicio</button></li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <header>
        <app-navbar>
        </app-navbar>
      </header>

      <article style="min-height: 90vh;">
          <router-outlet></router-outlet>
      </article>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>