<article style="background-color: white !important; height: 100vh; margin-bottom: 20px;" animateOnScroll animationName="animated fadeIn">
    <div class="bg-image content w-100">
      <div class="text">
        <h2>Transformamos la manera en la que opera tu negocio</h2>
        <h1>Líderes en innovación dígital</h1>
        <div class="button">
          <button (click)="scroll(about)" mat-raised-button color="primary">Conocenos!</button>
        </div>
      </div>
    </div>
</article>

<article #about animateOnScroll animated-delay-1 animationName="animated fadeIn" >
  <app-about></app-about>
</article>


<article #about animateOnScroll animated-delay-1 animationName="animated pulse" class="mobile" >
  <app-values></app-values>
</article>

<article #about animateOnScroll animated-delay-1 animationName="animated bounceInLeft" >
  <app-valores></app-valores>
</article>

<app-footer></app-footer>