* {
    box-sizing: border-box;
  }
  

  #home {
    font-size: 1.0rem ;width: 100% !important; display: flex; flex-flow: column; justify-content: center; align-items: center;
  }

  .bg-image {
    background-image: url('https://images.pexels.com/photos/1181316/pexels-photo-1181316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 1.5s; 
    height: 92vh;
    width: 100vw;
  }
  

  .resume {
    height: 94vh;
    width: 100%;

  }
  
  .inside {
    height: 100%;
  }

  .icons img {
    margin: 7%;
    width: 100px;
  }

  .car-img {
    width: 100%;
    height: 300px;
  }


@media (max-device-width : 812px){ 
  .title {
    height: 10%;
  }
  .image-content {
    height: 25%;
  }
  .image-content img {
    width: 90%;
  }
  .info-content {
    height: 60%;
    font-size: 1em;
  }

  h1{
    font-size: 0.8em;
  }

  .car-img {
    width: 100%;
    height: 100px;
  }

  .icons img {
    width: 80%;
  }

}