<div class="values">

    

    <div class="mision" >

        <img src="../../../assets/img/leaders.jpeg" alt="leadership" >

        <div style="display: flex; justify-content: flex-end; padding: 5px;">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title><h1>Misión</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    Ser un socio estratégico de negocio para las empresas que busquen adoptar e incluir la transformación digital dentro de sus procesos de negocio. 
                  </p>
                </mat-card-content>
              </mat-card>
        </div>


    </div>

    <div class="vision">

        <div style="display: flex; justify-content: flex-start; padding: 5px;">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title><h1>Visión</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Convertir a DTS Solutions en un líder tecnológico a nivel nacional. 
                    </p>
        
                    <p>
                        Ser una empresa que a través de nuestros conocimientos y experiencia aporte valor a  los procesos de nuestros socios de negocio y seamos considerados su mejor aliado estratégico. 
                    </p>
                
                    <p>
                        Ser  la empresa a la cual, a través de nuestros valores, el capital humano se sienta orgulloso y satisfecho de ser parte de DTS Solutions. 
                    </p>
                </mat-card-content>
              </mat-card>

        </div>

        <img src="../../../assets/img/developers.jpeg" alt="leadership" >
      
    </div>

  

</div>